@page "/"




<div class="body2">
<nav>
    <div class="nav-wrapper grey darken-4 ">
        <a href="#" class="brand-logo"><img class="circle" height="50" width="50" src="/css/image/batman.jpg" />Gaming</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><NavLink href="index">Developer</NavLink></li>
            <li><NavLink href="userlogin">User</NavLink>></li>

        </ul>
    </div>
  </nav>
</div>


